h1{

    color: white;
    text-align: center;
    font-size: 100px;
    
}
body{
    margin: 0%;
}
.image{
    
    display: flex;
    justify-content: center;
    
    
}
.image1{
    margin-bottom: 100px;
    margin-right: 30px;
}
.item{
    text-decoration: none;
    color: white;
    font-size: 50px;
}
.logo{
    display: flex;
    width: 60px;
    height: 40px;
}
.header-menu{
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
}
.navbar{
    margin: 0;
    padding: 0;
    display: flex;
    width: 700px;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-size: 50px;
    width: 100%;
}

body{
    background-color: lime ;
    background-image: 
Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%) ,

Linear-gradient(127deg, black, black 70.71%) ,

Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }
  li {
    display: inline;
    margin: 0;
    text-align: center;
    padding-left: 0%;
      font-family: cursive;
      
}
  form {
      text-align: center;
      color:white;

  }
  
.photo{
    width: 100%;
}
.line{
    margin-bottom: 70px;
}
.view-more{
    display: flex;
    justify-content: center;
}
.gmc{
    font-size: 50px;
}
  
  